.vscode/**
.vscode-test/**
.claude/**
src/**
.github/**
__mocks__/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
**/Sample/**
**/GifInstruction/**
jest.config.js
out/**/*.test.js
out/test/**
out/utils/*.test.js
coverage/**
*.stackdump
